/* To do w main content wrappers */
#main {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
}
#nav {
    /* House Grid Body */
    grid-area: 1 / 1 / 1 / 2;
    z-index: 1;
    background-color: white;
    display: grid;
    padding: 10px 50px;
    grid-template-columns: 1.1fr 1.3fr 1.3fr 1.3fr 1fr 1fr;
    grid-template-rows: 1.5rem 5rem 5rem 5rem;
}

#body {
    /* House Grid Body */
    grid-area: 1 / 1 / 3 / 2;
    overflow-y: scroll;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#body-wrapper {
    display: grid;
    grid-template: min(400px) min(800px) / 50% 50%;
    height: fit-content;
    width: 95%;
}

#bw-push{
    grid-area: 1 / 1 / 1 / 3;
}

#bw-content{
    grid-area: 2 / 1 / 2 / 2;
}



/* To do with specific nav  */

.nav-element {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quick-links {
    grid-area: 1 / 4 / 1 / 7;
    justify-content: right;
}

.q-link {
    font-size: 0.8rem;
    padding: 0px 1.5rem 0px 0px;
    color: grey;
}

#logo {
    grid-area: 2 / 1 / 2 / 1;
}

#search {
    grid-area: 2 / 2 / 2 / 5;
}

#s-bar {
    height: 55%;
    width: 90%;
    background-color: white;
    outline: rgb(93, 93, 93) 1px solid;
    box-shadow: 0px 5px 5px lightgrey;
    border-radius: 10px;
}

#s-bar > form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 10px;
    width: 100%;
    height: 100%;
    margin: 0px !important;
}

#s-bar > form > input {
    width: 55%;
    border: none;
}

#s-bar > form > input:focus {
    outline: none;
}

#s-filter {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    height: 82%;
    width: 30%;
    background-color: lightgrey;
    border-radius: 0px 10px 10px 0px;
}

#tool-kit {
    grid-area: 2 / 5 / 2 / 7;
    padding: 0px 10px;
    justify-content: space-around;
}

#menu {
    grid-area: 3 / 1 / 3 / 7;
}

#menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    min-width: 60%;
}

.menu-item {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item > * {
    margin: 0;
}

#filters {
    grid-area: 4 / 4 / 4 / 7;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    justify-content: right;
}

#filters > label {
    min-width: 80px;
}

.f-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 0px 5px;
    height: 35px;
    width: fit-content;
    border-radius: 30px;
    border: 1px solid black;
}

.f-tag > p {
    margin: 0px;
    padding: 0px 30px;
}
